@page "/MstOfficeList"
@using BlazorBase.Shared.ViewModels.MstOffice
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

<PageTitle>事業所マスタ一覧</PageTitle>

@if (searchResultEntities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="top-row" style="padding-left: 0!important;">
        <RadzenLabel Text="事業所一覧" style="margin-right: auto;font-size: 1.5rem" />
        <RadzenButton Click="@CreateNew" Icon="add" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
    </div>

    <RadzenTemplateForm Data="@searchEntity">
        <RadzenFieldset>

            <div class="row">
                <div class="col-md-3 align-items-center d-flex" style="max-width: 200px">
                    <RadzenLabel Text="事業所番号" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox Style="width: 100%; max-width: 120px" @bind-Value="searchEntity.事業所番号" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 align-items-center d-flex" style="max-width: 200px">
                    <RadzenLabel Text="事業所名" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox Style="width: 100%;" @bind-Value="searchEntity.事業所名" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 align-items-center d-flex" style="max-width: 200px">
                    <RadzenButton Style="width: 100%; max-width: 120px" ButtonStyle="ButtonStyle.Secondary" Text="検索" Click="@Search" />
                </div>
            </div>

            <div class="row">
                <RadzenDataGrid AllowFiltering="false" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" @ref="grid"
                            Data="@searchResultEntities" TItem="M_事業所ViewEntity" ColumnWidth="200px" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn Width="60px" TItem="M_事業所ViewEntity" Frozen="true" Sortable="false">
                            <Template Context="data">
                                <RadzenLink Path="@GetUpdateURL(@data.事業所番号)" Text="編集" Icon="edit" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="M_事業所ViewEntity" Property="事業所番号" Title="事業所番号" Frozen="true" Width="100px" />
                        <RadzenDataGridColumn TItem="M_事業所ViewEntity" Property="事業所名" Title="事業所名" Width="200px" />
                        <RadzenDataGridColumn TItem="M_事業所ViewEntity" Property="住所" Title="住所" Width="200px" />
                        <RadzenDataGridColumn TItem="M_事業所ViewEntity" Property="電話番号" Title="電話番号" Width="150px" />
                    </Columns>
                </RadzenDataGrid>
            </div>
        </RadzenFieldset>
    </RadzenTemplateForm>
}